
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root{
    --primary-color: #007AF3;
}

body{
    background: #f2f2f2f2;
    margin: 0;
    font-family: 'Poppins';
}

.navbar{
    background: white;
    padding: 1em;

    .logo{
        font-size: 1.2em;
        text-decoration: none;
        color: black;
        font-weight: bold;

        span{
            color: var(--primary-color);
        }
    }
    // nav{
    //     display: none;
    // }
    .container{
        display: flex;
        place-content: space-between;
    }
    .mobile-menu{
        cursor: pointer;
    }
}

a{
    color: #444444;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 5em 2em;
}

.hero{
    text-align: center;
}

.left-col{

    .subhead{
        text-transform: uppercase;
        letter-spacing: 0.3em;
        font-weight: bold;
        color: gray;
    }

    h1{
        font-size: 2.5em;
        margin-top: 0.2em;
        line-height: 1.3em;
    }

    .primary-cta{
        text-decoration: none;
        background: var(--primary-color);
        color: white;
        padding: 0.6em 1.3em;
        border-radius: 5em;
        font-size: 1.4em;
        font-weight: bold;
        display: inline-block;
    }
    .watch-video-cta{
        display: block;
        margin-top: 1em;

        img{
            margin-right: 0.2em;
        }
    } 
}
.hero-img{
    width: 70%;
    margin-top: 3em;

}

.features-section{
    background: #20272E;
    color: white;

    img{
        display: none;
    }

    ul{
        margin: 0;
        padding-left: 0.1em;


        li{
            font-size: 1.1em;
            position: relative;
            margin-top: 1em;
            margin-left: 2em ;

            &:before{
                content: '';
                background-image: url('../images/bullet.svg');
                position: absolute;
                width: 20px;
                height: 20px;
                margin-left: -2em;
                margin-right: 0.5em;
                background-size: contain;
            }
        }
    }
}

.testimonials{
    background: var(--primary-color);
    color: white;

        li{
            background: #006BD6;
            text-align: center;
            width: 80%;
            margin: 0 auto 5em auto;
            border-radius: 1em;
            padding: 2em 1em;
            

            img{
                width: 5em;
                height: 5em;
                border-radius: 50%;
                border: 5px solid #006BD6;
                margin-top: -4.5em;
            }
        }

}

.contact-section{

    h2{
        font-size: 2em ;
    }

    label{
        display: block;
        margin-bottom: 0.5em;
        font-size: 1.2em;
    }

    input, textarea{
        width: 100%;
        padding: 0.8em;
        margin-bottom: 1em;
        border-radius: 0.3em;
        border: 1px solid gray;
        box-sizing: border-box;
    }
    input[type="submit"]{
        background: var(--primary-color);
        color: white;
        font-weight: bold;
        border: none;
        font-size: 1.3em;
        margin-bottom: 5em;
        border-radius: 5em;
        display: inline-block;
        padding: .8em 2em;
        width: unset;
        cursor: pointer;
    }
    iframe{
        width: 100%;
        height: 300px;

    }
}

nav.menu-btn{
    display: block;
}

nav{
    position: fixed;
    z-index: 999;
    background: #20272E;
    width: 66%;
    height: 100vh;
    right: 0;
    top: 0;
    padding: 1em;

    ul.primary-nav{
        margin-top: 5em;
    }
    li{
        a{
            text-decoration: none;
            // border: 2px solid white;
            color: white;
            font-size: 1.3em;
            display: block;
            text-align: right;
            padding: 0.5em;

            &:hover{
                font-weight: bold;
            }
        }
    }

}
.mobile-menu-exit{
    // border: 1px solid white;
    float: right;
    padding: 0.5em;
    cursor: pointer;
}